/* GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{font-size: 32;}

img{
    width: 100%;
    height: auto;
}
:root{
    --azul:#14213D;
    --amarillo:#FCA311;
    --gris:#E5E5E5;
    --blanco:#FFFFFF;
    --negro:#000000;
    --oswald:'Oswald', sans-serif;
    --lora:'Lora', serif;  
}

section{
    height: 100%;
    padding:20px;   
}

h1 {
    font-family:var(--oswald);
    font-size: 100px;
    font-weight: 400;
    color: var(--blanco);
}

h3{
    font-family: var(--oswald);
    font-size: 30px;
    font-weight: 600;
    color: var(--amarillo);
}


h2{
    font-size: 20px;
    font-family:var(--lora);
    font-weight: 200;
    color:var(--blanco);
}

h4{
    font-family: var(--lora);
    color:var(--negro);
    font-size: 15px;
}

/*CABECERA*/

body>header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--amarillo);
    height: 100vh;
    flex-grow: 1;
}

/*nav*/
a {
    text-decoration: none;
    margin: 20px;
    color: var(--blanco);
    font-family: var(--oswald);
    font-size: 40px;  
    font-weight: 200;  
}

a:visited {
    text-decoration: none;

}

a:hover {
    color: #000000;
}


/*PORTADAS PELÍCULAS*/

#peliculas{
    background-color:var(--gris);
}

#peliculas .container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;           
}

#portadas .container h3{
    font-family: var(--oswald);
    font-size: 30px;
    color:var(--amarillo);
}

.portadas{
    padding: 1.2em;
        margin: 0.5em ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 250px;
        flex-grow: 1;
        background-color: var(--blanco);
}

.portada_img{
    display:flex;
    flex-grow: 1;
    width: 100%;
    height: auto;
}

.portadas_img img{
    flex-grow: 1;
    object-fit: cover;
    object-position: top;
}

.portadas header{
    width: 100%;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
}

.portadas header h4{
    font-family: var(--lora);
    font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;           
}
/*DIRECTORES*/

#directores{
    background-color:var(--gris);
}

#directores .container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#directores .container h3{
    font-family: var(--oswald);
    font-size: 30px;
    color:var(--amarillo);
 }   

 .people{
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 1em;
    padding: 1em;
    align-items:center;
    box-shadow: var(--amarillo) 0px 0px 10px ;
}

.people_img{
    width: 200px;
    height: 200px;
}

.people_img img{
    border-radius: 200px;
    object-fit: cover;
    height: 100%;
}

.people header h4, blockquote{
    text-align: center;
    margin:1em;
}

/*FOOTER*/

#redes{
    background-color: var(--amarillo);
}

#redes .container{
    display: flex;
}

footer{
    height: 20vh;
    padding:30px;
}

footer p a{
    font-size: 30px;
}


footer h3 {
    color: var(--blanco);
}

 
















    



